@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.bg-app {
  background-image: url('../assets/guit.jpeg'); /* Adjust the path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-glass {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
